<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
    <title>Practice Vue.js</title>
  </head>
  <body>
    <div id="app">
      <p v-for="movie in movies">{{ movie }}</p>
      <button v-on:click="addMovie()"></button>
      <input type="text" v-model="movieInput" />
      <img src="http://tny.im/kPs" alt="Zoolander Film Poster" v-if="" />
    </div>
  </body>
</html>
